// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// gal styles
.post-display {
    margin: 2em;
    background: #dddddd;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-image: none;
    background-size: auto;
    overflow: hidden;
    border-radius: 0;
    box-shadow: 0 7px 5px 1px grey;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.2s;
}

.post-display:hover {
    box-shadow: 0 0 0 0 white;
}

.post-display-filter {
    width: 100%;
    height: 100%;
    transition: 0.2s;
    text-decoration: none;
}

.post-display-filter h2 {
    opacity: 0;
    font-size: 2em;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    color: rgb(244, 244, 244);
}

.post-display-filter:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.post-display-filter:hover h2 {
    opacity: 1;
}

.posts-display {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-auto-rows: 15vw;
    width: 100%;
}
